#flag{
    width: 20px;
   height: 10px;
   
}#logo{
    width: 35px;
}#section1{
    margin-top: -12rm;
}#image{
    height: 400px;
    width: 35px;
}#div{
    position: relative;
}ul{
    height: 100%;
   position: sticky;
   width: 10%;
   padding-top: 5rem;
   padding-left: 1rem;
  margin-top: 0%;
  margin-left: 0%;
  
}.container{
    max-width: 900px;
}#software{
    height: 232.275px;
}
 
